#divcenter{
    text-align: center;
    margin-bottom: 70px;
}
.container{
    width: 500px;
    border: 2px solid black;
    height: 100%;
    padding:  50px 50px 50px 50px;

}
#h2{
    text-align: center;
    padding:  20px 20px 20px 20px;
}
#para{
    padding:  50px 50px 50px 50px;

}

#bold{
    padding:  10px 10px 10px 10px; 
}
#italic{
    padding:  10px 10px 10px 10px; 
}
#underline{
    padding:  10px 10px 10px 10px; 
}
#select{
    padding:  10px 10px 10px 10px; 

}